<html>
    <head>
        <title>
            The FutureList: Chat, Buy or Sell!
        </title>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body class="homepage">
        <h1>
            Welcome to The FutureList: Chat, Buy or Sell!
        </h1>
        <div class="container">
            <form id="search" action="/search" method="get">
              <br>
                <div>
                    Search the FutureVerse!
                </div><input type="text" size="25" name="search" placeholder="Enter your search term here"><br>
                <br>
                <div>
                    Select a category:
                </div><select id="category" name="category">
                    <option value="all">
                        Search all categories
                    </option>
                    <%@main_categories.each do |category|%>
                    <option value=<%=category.name%>><%=category.full_title%></option>
                    <%end%>
                </select> <input type="submit" value="Go!">
            </form><br>
            <br>
            <br>
            <form id="new" action="/posts" method="post">
                <div>
                    Create a new post!
                </div><button>Go!</button>
            </form>
        </div>
        <table>
            <tr>
                <td>
                    <div id="nb" class="col">
                        <h4 class="banner">
                            <a href=<%="main_#{@main_categories[0].name}"%>><%=@main_categories[0].full_title%></a>
                        </h4>
                        <ul class="justify" id="nb0">
                            <% @subcats_of_main[0].each do |subcat| %>
                            <li>
                              <a href=<%=subcat.name%>><%=subcat.full_title%></a>
                            <li>
                              <% end %>
                        </ul>
                    </div>
                </td>
                <td>
                    <div id="ak" class="col">
                        <h4 class="banner">
                            <a href=<%="main_#{@main_categories[1].name}"%>><%=@main_categories[1].full_title%></a>
                        </h4>
                        <ul class="justify" id="ak0">
                            <% @subcats_of_main[1].each do |subcat| %>
                            <li>
                              <a href=<%=subcat.name%>><%=subcat.full_title%></a>
                            <li>
                              <% end %>
                        </ul>
                    </div>
                </td>
                <td>
                    <div id="ar" class="col">
                        <h4 class="banner">
                            <a href=<%="main_#{@main_categories[2].name}"%>><%=@main_categories[2].full_title%></a>
                        </h4>
                        <ul class="justify" id="ar0">
                            <% @subcats_of_main[2].each do |subcat| %>
                            <li>
                              <a href=<%=subcat.name%>><%=subcat.full_title%></a>
                            <li>
                              <% end %>
                        </ul>
                    </div>
                </td>
                <td rowspan="3">
                    <div id="co" class="col">
                        <h4 class="banner">
                            <a href=<%="main_#{@main_categories[3].name}"%>><%=@main_categories[3].full_title%></a>
                        </h4>
                        <ul class="justify" id="co0">
                            <% @subcats_of_main[3].each do |subcat| %>
                            <li>
                              <a href=<%=subcat.name%>><%=subcat.full_title%></a>
                            <li>
                              <% end %>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="ee" class="col">
                        <h4 class="banner">
                            <a href=<%="main_#{@main_categories[4].name}"%>><%=@main_categories[4].full_title%></a>
                        </h4>
                        <ul class="justify" id="ee0">
                            <% @subcats_of_main[4].each do |subcat| %>
                            <li>
                              <a href=<%=subcat.name%>><%=subcat.full_title%></a>
                            <li>
                              <% end %>
                        </ul>
                    </div>
                </td>
                <td>
                    <div id="bc" class="col">
                        <h4 class="banner">
                            <a href=<%="main_#{@main_categories[5].name}"%>><%=@main_categories[5].full_title%></a>
                        </h4>
                        <ul class="justify" id="bc0">
                            <% @subcats_of_main[5].each do |subcat| %>
                            <li>
                              <a href=<%=subcat.name%>><%=subcat.full_title%></a>
                            <li>
                              <% end %>
                        </ul>
                    </div>
                </td>
                <td>
                    <div id="er" class="col">
                        <h4 class="banner">
                            <a href=<%="main_#{@main_categories[6].name}"%>><%=@main_categories[6].full_title%></a>
                        </h4>
                        <ul class="justify" id="er0">
                            <% @subcats_of_main[6].each do |subcat| %>
                            <li>
                              <a href=<%=subcat.name%>><%=subcat.full_title%></a>
                            <li>
                              <% end %>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="sp" class="col">
                        <h4 class="banner">
                            <a href=<%="main_#{@main_categories[7].name}"%>><%=@main_categories[7].full_title%></a>
                        </h4>
                        <ul class="justify" id="sp0">
                            <% @subcats_of_main[7].each do |subcat| %>
                            <li>
                              <a href=<%=subcat.name%>><%=subcat.full_title%></a>
                            <li>
                              <% end %>
                        </ul>
                    </div>
                </td>
                <td>
                    <div id="st" class="col">
                        <h4 class="banner">
                            <a href=<%="main_#{@main_categories[8].name}"%>><%=@main_categories[8].full_title%></a>
                        </h4>
                        <ul class="justify" id="st0">
                            <% @subcats_of_main[8].each do |subcat| %>
                            <li>
                              <a href=<%=subcat.name%>><%=subcat.full_title%></a>
                            <li>
                              <% end %>
                        </ul>
                    </div>
                </td>
                <td>
                    <div id="ft" class="col">
                        <h4 class="banner">
                            <a href=<%="main_#{@main_categories[9].name}"%>><%=@main_categories[9].full_title%></a>
                        </h4>
                        <ul class="justify" id="ft0">
                            <% @subcats_of_main[9].each do |subcat| %>
                            <li>
                              <a href=<%=subcat.name%>><%=subcat.full_title%></a>
                            <li>
                              <% end %>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>